.chatitem {
    margin: 3px 0;
}

.username {
    width: auto !important;
    margin-left: 0 !important;
    min-height: 0 !important;
}

.chatmsg {
    width: auto !important;
    margin: 0 5px !important;
    min-height: 0 !important;
    padding-bottom: 3px !important;
    white-space: normal;
}

.chatmsg h4 {
    margin: 2px;
    padding: 0;
    font-weight: bold;
    color: #e6db74;
}

.chatbox {
    padding: 2px;
    overflow-y: scroll;
    margin-bottom: 0;
}

.storeable {
    padding: 2px;
    padding-left: 5px;
    overflow-x: hidden;
}

.storeable h1 {
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(255,255,255,1);
    display: inline-block;
}

.storeable h3 {
    font-size: 14px;
    padding: 0;
    border-bottom: 1px solid #d3d3d3;
}

.storeable input {
    background-color: transparent;
    border: none;
    color: inherit;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    display:inline;
    width: auto;
}

.clickrow {
    background: rgba(255,255,255,.8);
    margin: 5px 0;
    padding: 2px;
}

.clickrow:hover {
    background: rgba(0,163,254,.3)
}